*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #093145;
}

h1 {
  text-align: center;
  margin: 40px auto;
  letter-spacing: 0.25em;
  color: whitesmoke;
}

.img-container {
  max-width: 680px;
  margin: 20px auto;
}

.img-container::after {
  content: " ";
  display: block;
  clear: both;
}

img {
  display: block;
  float: left;
  width: 48%;
  height: 270px;
  margin: 1%;
  cursor: pointer;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0, 1);
  transition: 0.3s;
}
