<div class="dish-card">
  <div class="dish-card-header">
    <!-- Below we are rendering the name of one dish using a Handlebars.js expression -->
    {{dish_name}}
  </div>
  <div class="dish-card-details">
    <!-- Below we are rendering the descripton of one dish using a Handlebars.js expression -->
    {{description}}
  </div>
    <div class="dish-card-id">
    <!-- Below we are rendering the id of one dish using a Handlebars.js expression -->
    {{id}}
  </div>
</div>