:root {
  --light: #f6f6f6;
  --darkblue: #2c3e50;
  --lightblue: #3498db;
  --red: #e74c3c;
  --lightred: #f9eae7;
  --lightyellow: #fff5d1;
}

/* Apply custom Google font */
body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

/* Shared custom styles for headers */
.header,
.custom-modal-header,
.custom-card-header,
.btn-custom {
  background-color: var(--darkblue);
  color: var(--light);
}

.btn-custom:hover {
  color: var(--lightblue);
}

.table-custom th {
  background-color: var(--red);
  color: var(--light);
}

/* style project rows based on status (late, due today) */
.project-late {
  background-color: var(--lightred);
}

.project-today {
  background-color: var(--lightyellow);
}
