:root {
  --light: #fff;
  --navy-blue: #13293d;
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

header {
  padding: 40px;
  text-align: center;
  background: var(--navy-blue);
  color: var(--light);
}

nav {
  display: flex;
  background-color: #d8a47f;
}

nav a {
  color: var(--navy-blue);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  background-color: var(--light);
}

main {
  display: flex;
  flex-wrap: wrap;
}

footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  background: var(--navy-blue);
  color: var(--light);
  margin-top: auto;
}

.products {
  flex: 1;
  background-color: var(--light);
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  padding: 10px;
  flex: 0 0 300px;
  transform: rotate(8deg);
  box-shadow: 10px 10px 5px #aaaaaa;
  margin: 20px;
}

.card > header {
  border-radius: 50px 50px 0px 0px;
  padding: 20px;
}

.card > p {
  text-align: center;
}

.card > img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
