body {
  background-color: #cadbda
}

.container {
  display: block;
  margin: 80px auto;
  text-align: center;
  font-size: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 60vw;
  background-color: #f0ead6;
  padding-top: 20px;
}

#key-events {
  padding: 10px 5px 20px 5px;
}
