<section class="container">
  <h3 class="gallery-name">{{gallery.name}}</h3>
  <section class="flex-row justify-center">
    {{#each gallery.paintings as |painting|}}
    {{> painting-details}}
    {{id}}
    {{/each}}
  </section>
</section>