<!-- We are tracking the number of times we visit this homepage -->
<h3>Number of times you've visited this homepage: {{ankitVisits}}</h3>

<section class="galleries">
  {{#each galleries as |gallery|}}
  {{> gallery-details}}
  {{/each}}
</section>