* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

header {
  padding: 40px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

nav {
  display: flex;
  background-color: #d8a47f;
}

nav a {
  color: #13293d;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

aside {
  flex: 1;
  background-color: #b9c6ae;
  padding: 80px;
  text-align: left;
}

footer {
  width: 100%;
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
  margin-top: auto;
}

.products {
  flex: 4;
  background-color: #fff;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

/* Added rotation, box-shadow, border-radius */
.card {
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  padding: 10px;
  flex: 0 0 300px;
  transform: rotate(8deg);
  box-shadow: 10px 10px 5px #aaaaaa;
  margin: 20px;
}

/* Added border-radius to match the card */
.card header {
  border-radius: 50px 50px 0px 0px;
  padding: 20px;
}

.card p {
  text-align: center;
}

.card img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
