*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  background-color: #eff5f8;
  color: #001b44;
}

h2,
h3 {
  text-align: center;
}

li {
  list-style: none;
  margin-top: 20px;
  display: block;
}

button {
  background-color: #001b44;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 255px;
  padding: 20px 52px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin: 0.6em auto;
  display: block;
}

label {
  color: #212121;
}

select {
  font-size: 30px;
  width: 100%;
  margin-top: 10px;
  background-color: whitesmoke;
}

.card {
  background-color:	#FFFFE0;
  border: 1px solid #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  margin: 60px auto;
  padding: 20px;
  width: 60vw;
  display: block;
}

.card::after {
  content: " ";
  display: block;
  clear: both;
}

#msg {
  display: block;
  min-height: 100px;
  width: 100%;
  margin-top: 10px;
  background-color: whitesmoke;
}
